.testing{
    width: 1.3em;
    height: 1.3em;
    background-color: white;
    border-radius: 50%;
    vertical-align: middle;
    border: 1px solid #000000;
    appearance: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    outline: none;
    cursor: pointer;

}


.testingChecked {
    width: 1.3em;
    height: 1.3em;
    border-radius: 50%;
    vertical-align: middle;
    appearance: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    outline: none;
    cursor: pointer;
    background-color: #333;
    border: 1px solid #333;
}

.testingLocked {
    width: 1.3em;
    height: 1.3em;
    background-color: #333;
    vertical-align: middle;
    border: 1px solid #000000;
    appearance: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    outline: none;
    cursor: pointer;
}

@media screen and (max-width: 768px) {
    .testing, .testingLocked, .testingChecked{
        width: 1.5em;
        height: 1.5em;
    }
}