
.container{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 5px;

}



.input{
    width: 135px;
    display: flex;
    align-items: center;
    gap: 5px;
    p {
        text-align: right;
        width: 15px;
    }
    
}
.disabled{
    width: 135px;
    display: flex;
    align-items: center;
    gap: 5px;
    opacity: 0.5;
    pointer-events: none;
    p {
        text-align: right;
        width: 15px;
    }
}

.label{
    display: flex;
    padding-left: 15px;
    gap: 13px;
    @media screen and (max-width: 768px) {
        padding-left: 20px;
        font-size: 20px;
        gap: 14px;
    }
}

.label2{
    width: 87px;
    display: flex;
    gap: 13px;
    @media screen and (max-width: 768px) {
        width: max-content;
        padding-left: 5px;
        font-size: 20px;
    }
}

.inputs{
    display: flex;
    justify-content: center;
    gap: 3px;
}