.testing{
    display: flex;
    align-items: flex-start;
    gap: 40px;
    margin: 20px;

    @media screen and (max-width:768px) {
        flex-direction: column;
        align-items: center;
    }
}


.container{
    display: flex;
    gap: 50px;
    overflow-y: auto;
    max-height: 95vh;
    @media screen and (max-width:768px) {
        max-width: 320px;
        overflow-x: auto;
    }
}


.locked{
    opacity: 0.5;
}
