.testing{
    display: flex;
    align-items: flex-start;
    gap: 40px;
    margin: 20px;

    @media screen and (max-width:768px) {
        flex-direction: column;
        align-items: center;
    }
}


.container{
    display: flex;
    gap: 50px;
    overflow-y: auto;
    max-height: 95vh;
    @media screen and (max-width:768px) {
        max-height: 35vh;
        max-width: 320px;
        overflow-x: auto;
    }
}


.locked{
    opacity: 0.5;
    pointer-events: none;
}

.button{
    display: block
}

.buttonMedia{
    display: none;
}

@media screen and (max-width:768px) {
  .button{
    display: none;
  }
  .buttonMedia{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-left: 20px;
    padding-right: 20px;
    width: 100%;
  }
}