.pdfViewer{
    display: flex;
    align-items: flex-start;
}

.container{
    display: flex;
    align-items: center;
    gap: 5px;
}

.pdf {
    width: 700px;
    max-height: 700px;
    height: 700px;
    overflow-y: auto;
    overflow-x: hidden;
}


.page2{
    display: none;
}

.page{
    display: flex;


}

.arrow{
    font-size: 25px;
    font-weight: bold;
    border: 1px solid;
    color: white;
    border-radius: 10px;
    background: rgb(0, 0, 0);
    padding: 5px;
    user-select: none;
    cursor: pointer;
}

@media screen and (max-width: 768px) {
    .pdfViewer{
            display: flex;
            flex-direction: column;
            align-items: center;
    }
    .pdf{
        width: 300px;
        height: 422px;
    }
    .page{
        display: none;
    }
    .page2{
        display: flex;
    }
    .arrow{
            font-size: 12px;
    }
}